:root {
  --font: 'Open Sans', sans-serif;
  --bg_Color: black;
  --font_Color: white;
}

body {
  font-family: var(--font);
  color: var(--font_Color);
  background-color: var(--bg_Color);
}

p {
  text-align: center;
}

.jumbotron {
  padding:20px;
  margin: 50px;
  background: none;
}

.mainStat {
  padding-top: 80px;
}

.changeTemp {
  background-color: black;
  font-size: 25px;
  transition: all 0.8s ease .05s;
}

.Icon {
  font-size: 80px;
  transition: all 0.8s ease .05s;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
}
.Icon:hover {
  color: gray;
}

.iconDiv {
  padding-top: 80px;
}

.Mode {
  cursor: pointer;
  color: red;
  font-size: 25px;
  transition: all 0.8s ease .05s;
}

.Mode:hover {
  color: gray;
}
